/* ============================== GLOBAL ============================== */
/* ============================== GLOBAL ============================== */

html, body {
  font-family: ZtChablis, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

/* ============================== HEADER TOP ============================== */
/* ============================== HEADER TOP ============================== */
